<div class="row-fluid">
    <div class="span4 center leftbar">
        <h2><i class='songicon icon-music icon-3x'></i>Music Box</h2><br />
        <div class="jplayer"> <%= render 'jplayer' %> </div>
        <br>
        <%= link_to 'New Song', new_song_path, class: "btn btn-large" %>
    </div>
    <div class="span8 maincontent">
        <h1 class="center">Songs</h1>
        <table class="table table-hover">
            <tr>
                <th>Title</th>
                <th>Artist</th>
                <th>Size</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <% @songs.each do |song| %>
                <tr>
                    <td><%= song.title %></td>
                    <td><%= song.artist %></td>
                    <td><%= number_to_human_size(song.mediafile_file_size) %></td>
                    <td><%= link_to raw("<i class='songicon icon-play'></i> Play Song"), song.mediafile.url, :class => "play btn btn-primary", :alt => song.title %></td>
                    <td><%= link_to raw("<i class='songicon icon-info-sign'></i> Info"), song, class: "btn btn-info" %></td>
                    <td><%= link_to raw("<i class='songicon icon-edit'></i> Edit"), edit_song_path(song), class: "btn" %></td>
                    <td><%= link_to raw("<i class='songicon icon-trash'></i> Destroy"), song, method: :delete, data: { confirm: 'Are you sure you want to delete ' + song.title + '?' }, class: "btn btn-danger" %></td>
                </tr>
            <% end %>
        </table>
        <br />
    </div>
  <!--   <div class="span2 rightbar">
        <h2 class="center">Activity</h2>
    </div> -->
</div>